.example-tree-invisible {
    display: none;
  }
  
  .saved-selections {
    font-size: smaller;
  }
  
  .saved-selections a {
    color: whitesmoke;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .checklist-leaf-node {
    padding-left: 40px;
  }
  
  .submit-button {
    margin-top: 10px;
    margin-bottom: 5px;
  }